In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
loan_data = pd.read_csv(r'D:\Python\CE_1_loan_data_train.csv', encoding="ISO-8859-1")
loan_data.head()

,key,grade,home_ownership,purpose,verification_status,term,emp_length_int,mths_since_issue_d,int_rate,mths_since_earliest_cr_line,acc_now_delinq,inq_last_6mths,annual_inc,dti,good_bad
0,21753,D,RENT,debt_consolidation,Verified,36,0 year(s),58,17.77,343,0,2.0,45000.0,19.07,0
1,251,B,RENT,credit_card,Source Verified,36,4 year(s),46,12.85,178,0,0.0,24000.0,5.10,1
2,22941,B,MORTGAGE,car,Not Verified,36,5 year(s),52,11.55,264,0,1.0,79000.0,13.99,1
3,618,C,RENT,credit_card,Not Verified,36,1 year(s),37,14.31,87,0,0.0,25000.0,16.61,1
4,17090,A,MORTGAGE,home_improvement,Verified,36,3 year(s),42,8.39,267,0,0.0,158000.0,2.83,1

In [3]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   key                          24000 non-null  int64
 1   grade                        24000 non-null  object
 2   home_ownership               24000 non-null  object
 3   purpose                      24000 non-null  object
 4   verification_status          24000 non-null  object
 5   term                         24000 non-null  int64
 6   emp_length_int               24000 non-null  object
 7   mths_since_issue_d           24000 non-null  int64
 8   int_rate                     24000 non-null  float64
 9   mths_since_earliest_cr_line  24000 non-null  int64
 10  acc_now_delinq               24000 non-null  int64
 11  inq_last_6mths               23794 non-null  float64
 12  annual_inc                   24000 non-null  float64
 13  dti                          24000 non-null  float64
 14  good_bad                     24000 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 2.7+ MB

In [5]:
loan_data['emp_length_int'].value_counts()

10 year(s)    7730
0 year(s)     3022
2 year(s)     2167
3 year(s)     1854
5 year(s)     1568
1 year(s)     1503
4 year(s)     1457
7 year(s)     1374
6 year(s)     1310
8 year(s)     1171
9 year(s)      844
Name: emp_length_int, dtype: int64

In [12]:
loan_data['emp_length_int'][0][:-8]

'0'

In [8]:
s=loan_data['emp_length_int'][0].replace('year(s)','')

In [9]:
s

'0 '

In [15]:
change_type = lambda x: int(x[:-8])
loan_data['emp_length_int']=loan_data['emp_length_int'].apply(change_type)

In [16]:
loan_data['emp_length_int']

0        0
1        4
2        5
3        1
4        3
        ..
23995    7
23996    0
23997    2
23998    1
23999    8
Name: emp_length_int, Length: 24000, dtype: int64